<div class="row">
    <div class="col-md-6 mb-5" *ngFor="let project of projects">
      <div class="card project-card">
        <div class="row no-gutters">
          <!-- <div class="col-12 col-xl-5 card-img-holder">
            <img src="assets/images/project/project-1.jpg" class="card-img" alt="image">
          </div> -->
          <div class="col-12 ">
            <div class="card-body">
              <h5 class="card-title">
            <!-- <a href="project.html" class="theme-link"> -->
                {{project.name}}
            <!-- </a> -->
        </h5>
        <p class="card-text">Role: {{project.role}} </p>
        <p class="card-text">Skills Used: {{project.skills}} </p>
              <!-- <p class="card-text"><small class="text-muted">Client: Google</small></p> -->
            </div>
          </div>
        </div>
        <!-- <div class="link-mask">
          <a class="link-mask-link" href="project.html"></a>
          <div class="link-mask-text">
            <a class="btn btn-secondary" href="project.html">
              <i class="fas fa-eye me-2"></i>View Case Study
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>