<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading mb-3">Online Resume</h2>
            <a class="btn btn-primary" (click)="downloadResume('my-resume')"><i class="fas fa-file-pdf me-2"></i>Download PDF Version</a>
            
            
        </div><!--//container-->
    </section>
    <div id="my-resume" class="container resume-container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
            
            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Shiwank Sharma</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div>
                    </div><!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:8679140002">8679140002</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:sharmashivank845@gmail.com">{{'sharmashivank845@gmail.com'}}</a></li>
                            <!-- <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="#">www.yourwebsite.com</a></li> -->
                            <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Chandigarh, India</li>
                        </ul>
                    </div><!--//resume-contact-->
                </div><!--//row-->
                
            </div><!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 col-xl-2 text-center">
                        <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="assets/images/profile.jpg" alt="image">
                    </div>
                    
                    <div class="col text-start">
                        <p class="mb-0">{{resume.description}} </p>
                    </div><!--//col-->
                </div>
            </div><!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                            <div class="item mb-3" *ngFor="let exp of resume.experience">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{exp.role}}</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{exp.name}} | {{exp.time_period}}</div>
                                    
                                </div>
                                <div class="item-content">
                                    <!-- <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p> -->
                                    <ul class="resume-list">
                                        <li *ngFor="let c of exp.contributions">{{c}}</li>
                                    </ul>
                                </div>
                            </div> 
                        </section><!--//work-section-->

                        
                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div *ngFor="let project of resume.projects" class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{project.name}}</h4>
                                    <!-- <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div> -->
                                    
                                </div>
                                <div class="item-content">
                                    <p >Role: {{project.role}} </p>
                                    <p >Skills Used: {{project.skills}} </p>
                                    <!-- <p>You can use this section for your side projects. You can <a href="#" class="theme-link">provide a project link here</a> as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> -->
                                    
                                    
                                </div>
                            </div>
                        </section>
                    </div><!--//resume-main-->



                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li *ngFor="let skill of resume.skills.technical" class="mb-2">{{skill[0]}}  <span *ngIf="skill[1]" class="text-muted">({{skill[1]}})</span></li>
                                </ul>
                                </div><!--//item-->
                                <div class="item">
                                    <h4 class="item-title">Professional</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        <li *ngFor="let skill of resume.skills.professional"  class="mb-2">{{skill}}</li>
                                        </ul>
                                    </div><!--//item-->
                                </section><!--//skills-section-->
                                <section class="education-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                                    <ul class="list-unstyled resume-education-list">
                                        <li class="mb-3" *ngFor="let e of resume.education">
                                            <div class="resume-degree font-weight-bold">{{e.title}}</div>
                                            <div class="resume-degree-org text-muted">{{e.institute}}</div>
                                            <div class="resume-degree-time text-muted">{{e.time_period}}</div>
                                        </li>
                                        
                                    </ul>
                                </section><!--//education-section-->
                                <!-- <section class="education-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
                                    <ul class="list-unstyled resume-awards-list">
                                        <li class="mb-3">
                                            <div class="font-weight-bold">Award Lorem Ipsum</div>
                                            <div class="text-muted">Microsoft lorem ipsum (2019)</div>
                                        </li>
                                        <li>
                                            <div class="font-weight-bold">Award Donec Sodales</div>
                                            <div class="text-muted">Oracle Aenean (2017)</div>
                                        </li>
                                    </ul>
                                </section> -->
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                                    <ul class="list-unstyled resume-lang-list">
                                        <li *ngFor="let lang of resume.languages" class="mb-2">{{lang[0]}} <span class="text-muted">{{lang[1]}}</span></li>
                                        <!-- <li>Spanish <span class="text-muted">(Professional)</span></li> -->
                                    </ul>
                                </section><!--//certificates-section-->
                                <section class="skills-section py-3">
                                    <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                                    <ul class="list-unstyled resume-interests-list mb-0">
                                        <li *ngFor="let interest of resume.interests" class="mb-2">{{interest}}</li>
                                    </ul>
                                </section><!--//certificates-section-->
                                
                            </aside><!--//resume-aside-->
                        </div><!--//row-->
                    </div><!--//resume-body-->
                    <hr>
                    <div class="resume-footer text-center">
                        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                            <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" target="_blank" href="https://github.com/shivank4687"><i class="fa-brands fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/shivank4687</span></a></li>
                            <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" target="_blank" href="https://www.linkedin.com/in/software-developer-shivank-sharma-b29b35176/"><i class="fa-brands fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/shivank...</span></a></li>
                            <!-- <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="#"><i class="fa-brands fa-square-x-twitter fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">twittername</span></a></li> -->
                        </ul>
                    </div><!--//resume-footer-->
                </article>
                
            </div><!--//container-->
 
            
        </div><!--//main-wrapper-->
